<div class="todo">
    <h2>To-DO List Items</h2>
    <input type="text" [(ngModel)]="todoMessage.text" placeholder="Enter your todo..." />
    <button (click)="addToDo()">Add ToDo</button>
    <br>
    <button (click)="listUser()">List the Users</button>
    <br>
    <label>Enter your name:</label>
    <input type="text" placeholder="Enter your name.." [(ngModel)]="userForm.name" />
    <br>
    <label>Enter your job:</label>
    <input type="text" placeholder="Enter your job.." [(ngModel)]="userForm.job" />
    <br>
    <button (click)="submitForm()">Submit</button>
    <br>
    <button (click)="onDeleteUser()">Delete User</button>
    <ol>
        <li *ngFor="let todo of todoList; let index = index;">
            <b class="text" [ngClass]="{'complete': todo.isCompleted}">{{todo.text}}</b>
            <button class="btn" (click)="onComplete(todo)">{{todo.isCompleted ? 'Complete' : 'Incomplete'}}</button>
            <button class="btn" (click)="onDelete(index)">Delete</button>
        </li>
    </ol>
</div>
<div>
    <h2>User List</h2>
    <div *ngIf="userList.length == 0">
        <h3>No user found</h3>
    </div>
    <div *ngFor="let user of userList">
        <span>The user name is {{user.first_name}} {{user.last_name}}</span>
        <br>
    </div>
</div>