.header{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #e6e6e6;
    box-shadow: 3px 9px 19px 0px rgba(171,171,171,1);
}
.logo{
    height: 50px;
}
.align-right{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   width: 100%;
   align-items: center;
}
.align-margin{
    margin-right: 20px;
    margin-left: 20px;
}
button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}