<div class="login-form">
    <label>Enter UserName:</label>
    <input type="text" name="username" [(ngModel)]="data.username" placeholder="Enter your user name.." />
    <br />
    <label>Enter Password:</label>
    <input type="password" [(ngModel)]="data.password" placeholder="Enter your password.." />
    <br />
    <button class="login-btn" [routerLink]="['/time-sheet']">Login by HTML</button>
    <button class="login-btn" (click)="navigate()">Login by Code</button>
    <br>
    <h1>The entered user name is {{data.username}}</h1>
    <h1>The entered password is {{data.password}}</h1>
    <div>
        <h3>{{employeeName}}</h3>
        <h3>{{employeeAge}}</h3>
        <h3>{{employeeStatus}}</h3>
    </div>
</div>