<div class="sheet">
    <h2>Time Sheet Page</h2>
    <label>Select In Time</label>
    <input type="time" class="space" [(ngModel)]="timeSheet.inTime" (focus)="onFocus($event)" (blur)="onBlur($event)"
        name="inTime" />
    <span class="error-msg" *ngIf="error.inTime">Invalid In Time</span>
    <br>
    <label>Select Out Time</label>
    <input type="time" class="space" [(ngModel)]="timeSheet.outTime" (focus)="onFocus($event)" (blur)="onBlur($event)"
        name="outTime" />
    <span class="error-msg" *ngIf="error.outTime">Invalid Out Time</span>
    <br>
    <label>Select Date</label>
    <input type="date" class="space" [(ngModel)]="timeSheet.date" (focus)="onFocus($event)" (blur)="onBlur($event)"
        name="date" />
    <span class="error-msg" *ngIf="error.date">Invalid Date Time</span>
    <br>
    <label>Work Details</label>
    <textarea placeholder="Type your work details" [(ngModel)]="timeSheet.workDetail" (focus)="onFocus($event)"
        (blur)="onBlur($event)" name="workDetail"></textarea>
    <span class="error-msg" *ngIf="error.workDetail">Invalid Work Detail</span>
    <br>
    <button class="btn" (click)="submitTimeSheet()">Submit Time Sheet</button>
    <h2>Time Sheet Info</h2>
    <table id="timesheet">
        <thead>
            <tr>
                <th>S.No</th>
                <th>In Time</th>
                <th>Out Time</th>
                <th>Date</th>
                <th>Work Details</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let info of timeSheetList; let sno = index">
                <td>{{sno + 1}}</td>
                <td>{{info.inTime}}</td>
                <td>{{info.outTime}}</td>
                <td>{{info.date}}</td>
                <td>{{info.workDetail}}</td>
                <td><button class="btn" (click)="onDeleteRow(sno)">Delete</button></td>
            </tr>
            <tr *ngIf="timeSheetList.length == 0">
                <td colspan="6">There is not time sheet Record</td>
            </tr>
        </tbody>
    </table>
    <button [routerLink]="['/parent']">Go to Parent Component</button>
</div>