.sheet{
    margin-left: 30px;
}
.space{
    margin-left: 20px;
    margin-bottom: 10px;
}
.btn{
    color: white;
    background-color: blueviolet;
    margin-top: 10px;
}
.error-msg{
    color: red;
    margin-left: 10px;
}
#timesheet {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#timesheet td, #timesheet th {
  border: 1px solid #ddd;
  padding: 8px;
}

#timesheet tr:nth-child(even){background-color: #f2f2f2;}

#timesheet tr:hover {background-color: #ddd;}

#timesheet th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: blueviolet;
  color: white;
}