.header{
    height: 50px;
    border: 2px solid black;
}
.wrapper{
    height: 95vh;
    display: flex;
    flex-direction: row;
}
.sidebar{
    height:95vh; 
    border: 2px solid black;
    width: 200px;
    display: flex;
    flex-direction: column;
}
button{
    margin-top: 20px;
    margin-bottom: 10px;
}
.active-btn{
    color: white;
    background-color: purple;
}